<h1>Enter the product info:</h1>

<form method="post" action="/admin/deleteprod">
	<table>
		<tr>
			<td>Product ID:</td><td><input type="number" class="text-input" name="Id" size="1"></td>
		</tr>
	</table>
				<div id="button-pair">
            <input type="submit" class="button left" value="Submit">
            <input type="reset" class="button right" value="Reset">
			</div>
</form>