<title>{{title}}</title>

{{> banner }}

<h1>Enter the product info:</h1>

<form method="post" action="/admin/deleteprod">
	<table>
		<tr>
			<td>Product ID:</td><td><input type="number" name="Id" size="1"></td>
		</tr>
		<tr>
			<td> <input type="submit" value="Submit"> </td> <td> <input type="reset" value="Reset"> </td>
		</tr>
	</table>
</form>