<h1>Enter the product info:</h1>

<form method="post" action="/admin/updateprod">
	<table>
		<tbody><tr>
			<td>Name:</td><td><input type="text" class="text-input" name="Name" size="50"></td>
		</tr>
		<tr>
			<td>Price:</td><td><input type="number" class="number-input" name="price" step=".01"></td>
		</tr>
        <tr>
			<td>Image URL:</td><td><input type="text" class="text-input" name="url" size="50"></td>
		</tr>
        <tr>
			<td>Desciption:</td><td><input type="text" class="text-input" name="Desc" size="50"></td>
		</tr>
        <tr>
			<td>Category Id:</td><td><input type="number" class="number-input" name="Id"></td>
		</tr>
		<tr id="button-pair">
            <td><input type="submit" class="button left" value="Submit"></td> 
            <td><input type="reset" class="button right" value="Reset"> </td>
		</tr>
    </tbody>
</table>
</form>