<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    {{> banner }}
    <div class="dragon-body">
        {{{body}}}
    </div>
</body>
</html>