<title>{{title}}</title>

{{> banner }}

<h1>Enter your customer id and password to complete the transaction:</h1>

{{#if isInvalid}}
    <b>At least one of the user or password you entered was not correct. Please try again. </b> 
    <br>
    <br>
{{/if}}

<form method="post" action="customerauthentication">
	<table>
		<tr>
			<td>Customer ID:</td><td><input type="text" name="customerId" size="20"></td>
		</tr>
		<tr>
			<td>Password:</td><td><input type="password" name="password" size="30"></td>
		</tr>
		<tr>
			<td> <input type="submit" value="Submit"> </td> <td> <input type="reset" value="Reset"> </td>
		</tr>
	</table>
</form>