<title>DBs and Dragons Grocery Main Page</title>
<link rel="stylesheet" href="css/style.css">
<div id="navbar">
    <img src="images/banner.png" alt="DBs & Dragons">
    <a class="active" href="/">Home</a>
    <a href="showcart">Cart</a>
    <a href="listprod">Products</a>
    <a href="listorder">Orders</a>
</div>
<br>
<br>

<h1 align="center">Welcome to DBs and Dragons Grocery</h1>
<h2 align="center"><a href="/listprod">Begin Shopping</a></h2>
<h2 align="center"><a href="/listorder">List All Orders</a></h2>
