<div class="login-form">
    <h1>Enter payment information</h1>
    <form name="ShipmentInfo" method=post action="/validPayment">
        <input type= "text" name="paymentMethod">
        <input type= "text" name="paymentType">
        <input type= "text" name="paymentNumber">
        <input type= "date" name="expiryDate">
        <input class="submit" type="submit" name="submitPayment" value="Move to payment info">
    </form>
</div>