<div class="login-form">
    <h1>Enter your shipment info</h1>
    <form name="ShipmentInfo" method=post action="/validShipment">
        <input type= "text" name="country">
        <input type= "text" name="postalCode">
        <input type= "text" name="state">
        <input type= "text" name="city">
        <input type= "text" name="address">
        <input class="submit" type="submit" name="submitShipment" value="Move to payment info">
    </form>
</div>