<div class="login-form">

    {{#if invalidPayment}}
    <b>At least Some of the sent PaymentInfo was invalid. Try again</b> 
    <br>
    <br>
    {{/if}}

    <h1>Enter payment information</h1>
    <form name="paymentInfo" method=post action="/validPayment">
        Enter a payment method: <input type= "text" name="paymentMethod"><br>
        Enter a payment type:<input type= "text" name="paymentType"><br>
        Enter a payment number:<input type= "text" name="paymentNumber"><br>
        Enter a expiry date:<input type= "date" name="expiryDate"><br>
        <input class="submit" type="submit" name="submitPayment" value="Move to payment info">
    </form>
</div>