<div class="login-form">
    <h3>Please Login to System</h3>



    <br>
    <form name="MyForm" method=post action="/validateLogin">
        <table>
            <tr>
                <td>
                        <span>Username:</span>
                </td>
                <td><input type="text" name="username" size=10 maxlength=10></td>
            </tr>
            <tr>
                <td>
                        <span>Password:</span>
                    </div>
                </td>
                <td><input type="password" name="password" size=10 maxlength="10"></td>
            </tr>
        </table>
        <input class="submit" type="submit" name="Submit2" value="Log In">
    </form>
        {{#if loginMessage}}
        <p class="error-message">{{loginMessage}}</p>
    {{/if}}
</div>