:root {
    --main-bg-colour: #0e140e;
}

body {
    background-color: #0e140e;
}

#banner {
    width: 900px;
}

a:visited, a{
    color: white;
}

#header_login_msg {
    display: block;
    float: left;
    padding-left: 12px;
    position: absolute;
    font-size: 11pt;
    color: white;
}

h1, h2, h3, h4 {
    font-weight: normal;
    text-shadow: 2px 2px #202020;
}


#navbar #header_login_msg a {
    text-decoration: underline;
}
#navbar #header_login_msg a:hover {
    background-color: transparent;
    color: white;
}

.dragon-body {
    min-height: 700px;
    font-family: Georgia, serif;
    color: white;
    margin-top: 150px;
    padding-top: 5px;
}


.dragon-body, #navbar {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #464f46;
}


#navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    /* HACKY: USED TO LINE-UP AT THE TOP */
    top: 0px;

}

/* Links within navbar*/

#navbar a {
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 10px 12px;
    margin-top: -4px;
}

/* Banner within navbar*/

#navbar img {
    margin-bottom: 0;
}

/* Hover over links in navbar */

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Styling of link to current active page */

.active {
    background-color: green;
    color: white;
}

/* -------- TABLE STYLING -------- */

.dragon-table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    font-family: sans-serif;
    margin: 25px 0;
    text-shadow: 1px 1px black;
    max-width: 900px;
    left: 0;
    right: 0;
    margin: auto;
}

.dragon-table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
}
/* Table Header */
.dragon-table th, .dragon-table td {
    padding: 1px 15px 0px 15px;
}

.dragon-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dragon-table tbody tr a:hover {
    background-color: darkslategray;
}

/* styling for "ADD TO CART" button */
.dragon-table tbody tr a, .button {
    background:#585858;
    border-color: white;
    border-style: solid;
    border-width: 1.25px;
    border-radius: 25px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.dragon-table tbody tr:nth-of-type(even) {
    background-color: #333;
}

.dragon-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

.dragon-table tbody tr:hover {
    background-color: #202020;
}

/* Styling for product name column in listprod */
.dragon-prodname {
    background: none !important;
    border-color: none !important;
    border-style: 0px !important;
    border-width: 0px !important;
    color: white !important;
    padding: 0px !important;
    text-decoration: none !important;
}
/* Styling for product thumnails in listprod */
.dragon-thumbnail {
    margin-top: 2px;
    max-width: 150px;
}

.full-image {
    box-shadow: 5px 6px #333;
    margin-bottom: 10px;
}

.login-form {
    margin: auto;
    width: 30%;
}

.login-form input {
    background-color: #78a183;
    margin-top: -5px;
}

.login-form .submit {
    background:#585858;
    border-color: white;
    border-style: solid;
    border-width: 1.25px;
    border-radius: 25px;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin-left: 80px;
    margin-top: 10px;
}

.error-message {
    color: #fc3003;
}

.generic-center {
    text-align: center;
}

.cart-entry td{ 
    padding-top: 7px;
    padding-bottom: 7px;
}

.search-title {
    color:white;
    margin-left: 25px;
    margin-top: 25px;
}

.prod-description {
    background-color: #202020;
    text-align: center;
}

#dragon-image {
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

#dragon-image {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 5px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }
