:root {
    --main-bg-colour: #222222;
    --alt-bg-colour: #333;
    --alt2-bg-colour: #202020;
    --header-bg-colour: #1a1a1a;
    --main-surface-colour: #121212;
    --primary-colour: #BB86FC;
    --primary-variant-colour: #3700B3;
    --secondary-colour: #03DAC6;
    --error-colour: #CF6679;
    --on-background-colour: #FFFFFF;
    --on-surface-colour: #FFFFFF;
    --on-primary-colour: #000000;
    --on-secondary-colour: #000000;
    --on-error-colour: #000000;
    --text-shadow-colour: #000000;
    --button-bg-colour: #585858;
    --button-hover-colour: #03DAC6;
}

body {
    background-color: var(--main-bg-colour);
}

#banner {
    width: 900px;
}

a:visited, a{
    color: var(--on-surface-colour);
}

#header_login_msg {
    display: block;
    float: left;
    padding-left: 12px;
    position: absolute;
    font-size: 11pt;
    color: var(--on-background-colour);
}

h1, h2, h3, h4 {
    font-weight: normal;
    text-shadow: 2px 2px var(--text-shadow-colour);
}


#navbar #header_login_msg a {
    text-decoration: underline;
}
#navbar #header_login_msg a:hover {
    background-color: transparent;
    color: var(--on-background-colour);
}

.dragon-body {
    min-height: 700px;
    font-family: Georgia, serif;
    color: var(--on-background-colour);
    margin-top: 150px;
    padding-top: 5px;
}


.dragon-body, #navbar {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-bg-colour);
}


#navbar {
    background-color: var(--alt-bg-colour);
    overflow: hidden;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    /* HACKY: USED TO LINE-UP AT THE TOP */
    top: 0px;

}

/* Links within navbar*/

#navbar a {
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    color: var(--on-surface-colour);
    text-align: center;
    padding: 10px 12px;
    margin-top: -4px;
}

/* Banner within navbar*/

#navbar img {
    margin-bottom: 0;
}

/* Hover over links in navbar */

#navbar a:hover {
    background-color: var(--on-surface-colour);
    color: black;
}

/* Styling of link to current active page */

.active {
    background-color: var(--primary-variant-colour);
    color: var(--on-surface-colour);
}

/* -------- TABLE STYLING -------- */

.dragon-table {
    background-color: var(--alt-bg-colour);
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    font-family: sans-serif;
    margin: 25px 0;
    text-shadow: 1px 1px var(--text-shadow-colour);
    max-width: 900px;
    left: 0;
    right: 0;
    margin: auto;
}

.dragon-table thead tr {
    background-color: var(--header-bg-colour);
    color: var(--on-background-colour);
    text-align: left;
}
/* Table Header */
.dragon-table th, .dragon-table td {
    padding: 1px 15px 0px 15px;
}

.dragon-table tbody tr {
    border-bottom: 1px solid var(--on-surface-colour);
}

.dragon-table tbody tr a:hover {
    background-color: var(--button-hover-colour);
}

/* styling for "ADD TO CART" button */
.dragon-table tbody tr a, .button {
    background: var(--button-bg-colour);
    border-color: white;
    border-style: solid;
    border-width: 1.25px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.dragon-table tbody tr:nth-of-type(even) {
    background-color: var(--alt2-bg-colour);
}

.dragon-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

.dragon-table tbody tr:hover {
    background-color: #202020;
}

/* Styling for product name column in listprod */
.dragon-prodname {
    background: none !important;
    border-color: none !important;
    border-style: 0px !important;
    border-width: 0px !important;
    color: var(--on-surface-colour) !important;
    padding: 0px !important;
    text-decoration: none !important;
}
/* Styling for product thumnails in listprod */
.dragon-thumbnail {
    margin-top: 2px;
    max-width: 150px;
}

.full-image {
    box-shadow: 5px 6px var(--alt-bg-colour);
    margin-bottom: 10px;
}

.login-form {
    margin: auto;
    width: 30%;
}

.login-form input {
    background-color: var(--alt-bg-colour);
    color: var(--on-background-colour);
    margin-top: -5px;
}

.login-form .submit {
    background: var(--alt-bg-colour);
    border-color: var(--on-background-colour);
    border-style: solid;
    border-width: 1.25px;
    color: var(--on-background-colour);
    padding: 5px;
    text-decoration: none;
    margin-left: 80px;
    margin-top: 10px;
}

.error-message {
    color: var(--error-colour);
}

.generic-center {
    text-align: center;
}

.cart-entry td{ 
    padding-top: 7px;
    padding-bottom: 7px;
}

.search-title {
    color: var(--on-background-colour);
    margin-left: 25px;
    margin-top: 25px;
}

.prod-description {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--main-bg-colour);
    text-align: center;
}

#dragon-image {
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

#dragon-image {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 5px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }

#prod-id-table {
    display: inline-block;
    font-size: 0.9em;
    font-family: sans-serif;
    text-shadow: 1px 1px var(--text-shadow-colour);
    max-width: 900px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    text-align: left;
}

#prod-id-table td {
    padding: 0px 20px 0px 20px;
}

#prod-title {
    display: inline-block;
}

.price-or-id {
    font-weight: bold;
    padding: 0px 1px 0px 1px;
}

.inline-title {
    font-style: italic;
}

.text-value-pair {
    padding: 0px 10px 0px 10px;
}

#no-review-text {
    display: block;
    float: left;
    font-style: italic;
    margin: 10px 10px 10px 2px;
}

.prod-page-link {
    padding: 0px 50px 0px 50px;
}

#prod-image-buttons a {
    display: inline-block;
    margin: 5px -5px 0px 20px;
}

#review-entry .button {
    float: left;
    margin: 10px 20px 0px 0px;
}

