<script type="text/javascript">
var stateObject = {
	"Canada": [
		"Alberta", 
		"British Columbia", 
		"Manitoba", 
		"New Brunswick", 
		"Newfoundland and Labrador", 
		"Nova Scotia", 
		"Ontario", 
		"Prince Edward Island", 
		"Québec", 
		"Saskatchewan",
		"Northwest Territories", 
		"Nunavut",
		"Yukon",
	],
	"US": [
		"California",
		"Oregon",
		"Washington",
		"Other"
	]
};
</script>
{{! 
	CREATE TABLE customer (
    customerId          INT IDENTITY,
    firstName           VARCHAR(40),
    lastName            VARCHAR(40),
    email               VARCHAR(50),
    phonenum            VARCHAR(20),
    address             VARCHAR(50),
    city                VARCHAR(40),
    state               VARCHAR(20),
    postalCode          VARCHAR(20),
    country             VARCHAR(40),
    userid              VARCHAR(20),
    password            VARCHAR(30),
}}

{{#if userWarning}}
    <b> {{userWarning}} </b> 
    <br>
    <br>
{{/if}}

<form method="post" action="/createuser/validate">
	<table>
		
		<tr>
			<td>Userid: </td><td><input type="text" class="text-input" name="userid" size="30"></td>
		</tr>
		
		<tr>
			<td>Email: </td><td><input type="text" class="text-input" name="email" size="30"></td>
		</tr>
		
		<tr>
			<td>First Name:</td><td><input type="text" class="text-input" name="firstname" size="30"></td>
		</tr>
		
		<tr>
			<td>Last Name:</td><td><input type="text" class="text-input" name="lastname" size="30"></td>
		</tr>
		
		<tr>
			<td>Phone Number (optional):</td><td><input type="text" class="text-input" name="phonenumber" size="30"></td>
		</tr>
		
		<tr>
			<td>Address:</td><td><input type="text" name="address" class="text-input" size="30"></td>
		</tr>
		
		<tr>
			<td>Country</td>
			<td>
				<select size="1" name="country" class="text-input" class="text-input">
					<option>Canada</option>
                	<option>United States</option>
           		</select>
           	</td>
		</tr>

		<tr>
			<td>Province / State</td>
			<td>
				<select size="1" class="text-input" name="province">
					<option>Alberta</option>
					<option> British Columbia</option> 
					<option> Manitoba</option>
					<option> New Brunswick</option>
					<option> Newfoundland and Labrador</option> 
					<option> Nova Scotia</option>
					<option> Ontario</option>
					<option> Prince Edward Island</option> 
					<option> Québec</option>
					<option> Saskatchewan</option>
					<option> Northwest Territories</option> 
					<option> Nunavut</option>
					<option> Yukon</option>
					<option>California</option>
					<option>Oregon</option>
					<option>Washington</option>
					<option>Other</option>
           		</select>
           	</td>
		</tr>

		<tr>
			<td>City:</td><td><input type="text" class="text-input" name="city" size="30"></td>
		</tr>

		<tr>
			<td>Postal Code:</td><td><input type="text" class="text-input" name="postalcode" size="30"></td>
		</tr>


		<tr>
			<td>Password:</td><td><input type="password" class="text-input" name="password" size="30"></td>
		</tr>
		
		<tr>
			<td>Confirm Password:</td><td><input type="password" class="text-input" name="confirmpassword" size="30"></td>
		</tr>
			</table>
		<div id="button-pair"
			<td> <input type="submit" class="button" value="Submit"> </td> 
			<td> <input type="reset"  class="button" value="Reset"> </td>
		</div>


</form>