<h1>Enter your User Id:</h1>

<form method="post" action="/login/sendresetemail">
	<table>
		<tr>
			<td>User ID:</td><td><input type="text" name="userId" size="20"></td>
		</tr>
		<tr>
			<td> <input type="submit" value="Submit"> </td> <td> <input type="reset" value="Reset"> </td>
		</tr>
	</table>
</form>