<div>
	<h3>Customer Profile</h3>	
	<h4><a href="customer/order"> View your orders</a></h4>
	<table class="dragon-table noround">
		<tbody class="noround">
		{{#each userData as | data |}}
			<tr>
				<th style="background-color: #009879;color: white;"> {{keyname}}</th> 
				<td>{{keyval}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>

</div>