<div>
	<h3 class="generic-center">Customer Profile</h3>	
	<h4 class="generic-center"><a href="customer/order"> View your orders</a></h4>
	<table class="dragon-table cust-table">
		<tbody class="noround">
		{{#each userData as | data |}}
			<tr>
				<th> {{keyname}}</th> 
				<td>{{keyval}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>

</div>